body {
  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover; }

/*Encabezado*/
nav {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none; }

/*Estilos de redes sociales*/
i.red-social {
  font-size: 6rem;
  color: #0d47a1; }

/*Estilos de imagenes*/
img.responsive-img.z-depth-4.contenido {
  height: 850px; }

/*Estilos de post*/
p {
  text-align: justify; }

textarea#icon_prefix2.materialize-textarea {
  background-color: white; }

i.material-icons.prefix.active {
  color: #0d47a1; }